:root {
  --color-primary: #5603AD;
  --color-secondary: #8367C7;
  --color-accent: #B3E9C7;
  --color-accent-light: #C2F8CB;
  --color-background: #F0FFF1;
  --color-text: #333333;
  --color-text-light: #FFFFFF;
}
